.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
// .header__logo {
//   padding: 24px 0;
// }
// .logo__dark {
//   color: var(--logo-color);
// }
// .logo__footer {
//   display: inline-block;
//   margin-bottom: 20px;
// }
// .logo__white {
//   color: var(--primary-white-color);
// }
