:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --button-focus-color: #188ce8;
  --logo-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --icon-color: #afb1b8;
}
