.team {
  background-color: var(--second-background-color);
}

.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.team__description {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.18;
}
.team__subtitle {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.team__text {
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__list:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social__link:focus,
.social__link:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
